.green{
    background-color:#6fb936;
}

.thumb{
    margin-bottom: 30px;
}

.page-top{
    margin-top:85px;
}

img.zoom{
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header{
    border-bottom: none;
}

.modal-title{
    color:#000;
}

.modal-footer{
    display:none;
}

.color-border{
    border-bottom: #e2e6ea !important;
}
/*
table.table-bordered{
    border-bottom:3px solid orange;
}
table.table-bordered > thead > tr > th {
    border-bottom:3px solid blue;
}
table.table-bordered > tbody > th > td{
    border-bottom:3px solid red;
}
*/
.table-scroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.border-1 {
  border-bottom: 3px solid red;
}

.border-2 {
  border: 0px;
}

.border-3 {
  border-bottom: 3px solid orange;
}

/*
.navbar-brand
{
    position: absolute;
    left: 5px;
    margin: auto;
    margin-right: 85%;
}

.new {
  margin-left: 150px;
}*/
